$Water: rgb(62, 140, 165);
$Earth: rgb(78, 163, 91);
$Fire: rgb(182, 47, 40);
$Sky: rgb(241, 156, 66);

.Water {
    background: $Water;
}

.Earth {
    background: $Earth;
}

.Fire {
    background: $Fire;
}

.Sky {
    background: $Sky;
}

.godCard {
    border: 4px black solid;
    width: 200px;
    height: 300px;
    margin: 16px;
    padding: 16px;
    text-align: center;

    &:hover {
        box-shadow: 0px 0px 20px 12px white;
    }

    .godName {
        text-align: left;
        font-size: 32px;
        line-height: 32px;
        color: white;
        text-shadow: 2px 4px black;
        overflow: hidden;
    }

    .godImg {
        border: 4px black solid;
    }

    .godCulture {
        font-size: 24px;
        line-height: 24px;
        color: white;
        text-shadow: 2px 4px black;
        margin-bottom: 4px;
    }

    .godPower {
        font-size: 24px;
        line-height: 24px;
        color: white;
        text-shadow: 2px 4px black;
    }

    .godCardBtn {
        margin-top: 4px;
        height: 24px;
        width: 24px;
        margin-left: 12px;
        margin-right: 12px;
        background-color: white;
        font-weight: bolder;

        &:hover {
            background-color: black;
            color: white;
        }
    }

}