.grid {
    text-align: center;
    padding: 12px;

    .title{
        font-size: 48px;
        color: white;
        text-shadow: 3px 3px black;
        position: relative;
        bottom: 20px;

        .titleSpan{
            font-size: 64px;
            text-shadow: 6px 6px black;
        }
        
    }

}

