@import "node_modules/pixel-borders/src/styles/pixel-borders.scss";


.userPageGrid {

    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 100vw;
    height: 90%;

    .title {
        grid-column: 4 / 8;
        justify-self: center;
        align-self: center;
        font-size: 48px;
        color: white;
        text-shadow: 3px 3px black;
        position: relative;
        bottom: 20px;

        .titleSpan{
            font-size: 64px;
            text-shadow: 6px 6px black;
        }
    }
    
    .battleBtn {
        grid-column: 4 / 8;
        grid-row: 3 / 4;
        justify-self: center;
        align-self: bottom;
        width: 200px;
        height: 80px;
        position: relative;
        top: 12px;
        border: 2px solid black;
        // border-radius: 8px;
        box-shadow: 2px 2px black;
        font-size: 24px;
        background-color: white;

        &:hover{
            font-size: 40px; 
        }
    }

    .homeDisplay {
        grid-row: 2 / 3;
        grid-column: 2 / 10;
        height: 200px;
        border: 4px solid black;
        // border-radius: 8px;
        background-color: white;
        position: relative;
        bottom: 12px;
        text-align: center;
        overflow: scroll;
        padding-top: 12px;
        
    }

    .godCardContainer{
        display: flex;
        grid-row: 4 / 6 ;
        grid-column: 2 / 10;
        justify-content: center;        
    }
    
}