.userPageGrid {

    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 100vw;
    height: 90%;

    .title {
        grid-column: 4 / 8;
        justify-self: center;
        align-self: center;
        font-size: 48px;
        color: white;
        text-shadow: 3px 3px black;

        .titleSpan{
            font-size: 64px;
            text-shadow: 6px 6px black;
        }
    }
    
    .battleBtn {
        grid-column: 4 / 8;
        grid-row: 3 / 4;
        justify-self: center;
        align-self: bottom;
        width: 200px;
        height: 100px;
        margin-top: 32px;
        border: 2px solid black;
        border-radius: 8px;
        box-shadow: 2px 2px black;
        font-size: 24px;

        &:hover{
            font-size: 32px; 
        }
    }

    .godCardContainer{
        display: flex;
        grid-row: 4 / 6 ;
        grid-column: 2 / 10;
        justify-content: center;
        padding-top: 36px;
    }

    
}