


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    
}

.app {
    width: 100vw;
    height: 100vh;
}

.battleGrid {

    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 100vw;
    height: 90vw;
    
    .monsterCardContainer {
        display: flex;
        justify-content: center;
        grid-column: 4 / 8;
        grid-row: 1 / 2;
        
        .currentMonsterCard {
            width: 400px;
            height: 300px;
            margin: 16px;
            padding: 16px;
            background-color: gray;
            text-align: center;
        }
    };

    .godCardContainer{
        display: flex;
        grid-row: 3 / 5 ;
        grid-column: 2 / 10;
        justify-content: center;
    }

    .godCard {
        width: 200px;
        height: 300px;
        margin: 16px;
        padding: 16px;
        background-color: gray;
        text-align: center;    
    }

    .infoDisplayContainer{
        display: flex;
        grid-row: 2 / 3;
        grid-column: 4 / 8;
        justify-content: center;
        align-self: center;
    }
    
}
