.replaceGodContainer{
     
    margin: auto; 
    padding-top: 12px;


.replaceGodTbl {
    font-size: 24px;
   width: 600px;
   margin: auto;
   text-align: center;

   tr {
    height: 48px;
   }
}

}