.about{
    font-size: 28px;
    line-height: 36px;
    text-align: center;
    color: white;
    text-shadow: 2px 2px black;
    margin-left: 280px;
    margin-right: 280px;

    li {
        list-style-type: none;

    }
}